body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#app {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
  max-width: 600px; /* Limit the width for better readability */
  margin: auto; /* Center the content */
}

h1 {
  color: #333;
}

/* Roster styling */
#roster-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player {
  background-color: #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
}

.player:hover {
  background-color: #d4d4d4;
}

.player img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
}

/* Player details styling */
#details-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#details-container img {
  border-radius: 50%;
  max-width: 150px;
  margin-bottom: 10px;
}

#details-container p {
  margin-bottom: 10px;
}

#details-container button {
  padding: 10px;
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

#details-container button:hover {
  background-color: #c0392b;
}

/* Add player form styling */
#add-player-container {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}